{% extends 'layouts/base.html' %}
{% block title %}Losify Health and Wellness{% endblock %}
{% block body %}
<header>
    <nav>
        <div class="row">
            <a class="company-name" href="#"><h1>Losify Health and Wellness</h1></a>
            <ul class="main-nav">
                <li><a href="#">Our Products</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-text-box">
        <h2>Say <em>"So long"</em> to excess weight<br/> And <em>"Hello"</em> to a tight, new bod.</h2>
            <a class="btn btn-full" href="#">Login</a>
            <a class="btn btn-ghost" href="#">Sign Up</a>
    </div>
</header>

<div class="divider">
       <div class="container">
           <div class="row">
               <br/>
</div>

<section class="introduction">
    <div class="row">
        <h3>Changing Lives, One Day At A Time.</h3>
            <p class="company-intro">Are you thinking about getting in shape?
                Do you want to lose some excess weight? If so, contact Losify
                Health and Wellness. Operating out of Chesapeake, Virginia, we offer healthy
                programs and products that are custom-designed for your specific needs.
                Our goal is to help you improve your nutritional well being through the
                use of quality nutrition products. These products provide a great
                way to lose weight and to enjoy a healthier lifestyle.
           </p>
    </div>
</section>

<section class="products">
  <h3>Losify Health And Wellness Offers</h3>
                <div class="container" align="center">
                    <div class="row">
                        <div class="four columns menu">
                            <img src="{{ url_for('static', filename='images/002-treadmill.png') }}" />
                            <p class="product-items"><strong>Energy and Appetite Enhancers</strong></p>
                        </div>
                        <div class="four columns menu">
                            <img src="{{ url_for('static', filename='images/001-protein.png') }}"/>
                            <p class="product-items"><strong>Nutrition and Health Supplements</strong></p>
                        </div>
                        <div class="four columns menu">
                            <img src="{{ url_for('static', filename='images/003-scale.png') }}" />
                            <p class="product-items"><strong>Weight Management Products</strong></p>
                        </div>
                    </div>
                </div>
</section>

<section class="about-us">
    <div class="row">
        <h3>Get the Results You're Looking For</h3>
            <p class="about-our-company">Losify Health and Wellness is a 20-year
              old business with a presence in more than 50 countries. We've
              served more than 25 million customers and offer 100% satisfaction
              for your assurance. With the help of our all-natural products,
               you will get the results you're looking for and lead a healthier
               life! You can count on us for personalized
               services and competitive prices. We will work one-on-one with you
               to customize a program of products that help meet your weight
               management goals. For more information about our company, call today.
           </p>
    </div>
</section>
{% endblock %}
