{% extends 'layouts/base.html' %}
{% block title %}Losify Health and Wellness{% endblock %}
{% block body %}
<header>
    <nav>
        <div class="row">
            <a class="company-name" href="#"><h1>Losify Health and Wellness</h1></a>
            <ul class="main-nav">
                <li><a href="#">Our Products</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="hero-text-box">
        <h2>Say <em>"So long"</em> to excess weight<br/> And <em>"Hello"</em> to a tight, new bod!</h2>
            <a class="btn btn-full" href="#">Login</a>
            <a class="btn btn-ghost" href="#">Sign Up</a>
    </div>
</header>

<div class="divider">
       <div class="container">
           <div class="row">
               <br/>
</div>

<section class="introduction">
    <div class="row">
        <h3>Changing Lives, One Day At A Time.</h3>
            <p class="company-intro">Are you thinking about getting in shape?
                Do you want to lose some excess weight? If so, contact Losify
                Health and Wellness. Operating out of Chesapeake, Virginia, we offer healthy
                programs and products that are custom-designed for your specific needs.
                Our goal is to help you improve your nutritional well being through the
                use of quality nutrition products. These products provide a great
                way to lose weight and to enjoy a healthier lifestyle.
           </p>
    </div>
</section>
{% endblock %}
